Level(
  version: "1.0.0",
  pixels_per_meter: 64.0,

  background: "levels/mount_bg.png",
  parallax: [
    ParallaxLayer ( image: "levels/entity.png", factor: 0.5 ),
    ParallaxLayer ( image: "levels/tile_fg.png", factor: 0.8 ),
  ],

  chunks: [ Chunk ( id: "A", rect: (0, 0, 2048, 1024) ) ],

  objects: [
    Object (
      id: Some("platform_01"),
      kind: Platform,
      pos: (800, 1440),
      size: (64, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_02"),
      kind: Platform,
      pos: (480, 1440),
      size: (192, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("spikes_01"),
      kind: Spikes,
      pos: (736, 12),
      size: (160, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {},
    ),

    Object (
      id: Some("platform_03"),
      kind: Platform,
      pos: (1024, 416),
      size: (384, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("coin_01"),
      kind: Coin,
      pos: (32, 672),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("trampoline_01"),
      kind: JumpPad,
      pos: (1056, 20),
      size: (64, 40),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "bounce_strength": "10",
      },
    ),

    Object (
      id: Some("platform_04"),
      kind: Platform,
      pos: (896, 140),
      size: (128, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_05"),
      kind: Platform,
      pos: (672, 1120),
      size: (192, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_06"),
      kind: Platform,
      pos: (512, 224),
      size: (384, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_07"),
      kind: Platform,
      pos: (992, 1762),
      size: (192, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    // 有 moving 的平台
    Object (
      id: Some("platform_08"),
      kind: Platform,
      pos: (192, 780),            // 初始放在 boundary 起点
      size: (256, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      // moving: Some(Moving {
      //   path: Line { start: (513, 1521), end: (163, 1000) }, // 用原 moving.start / end
      //   loop_mode: Loop,        // triggerType: "loop"
      //   period_s: 2.50,         // 这里随便给了个值，你可以按 speed 算
      //   easing: Bezier(0.0, 0.0, 1.0, 1.0), // 线性
      //   wait_s: 0.0,
      //   start_t: 0.0,
      //   kinematic: true,
      // }),
      props: {
        "one_way": "false",
        "speed": "3",
        "move_type": "linear",
        "loop_mode": "loop",
      },
    ),

    Object (
      id: Some("platform_09"),
      kind: Platform,
      pos: (128, 96),
      size: (256, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("spikes_02"),
      kind: Spikes,
      pos: (608, 268),
      size: (160, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {},
    ),

    Object (
      id: Some("platform_10"),
      kind: Platform,
      pos: (672, 820),
      size: (64, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("coin_02"),
      kind: Coin,
      pos: (96, 672),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("platform_11"),
      kind: Platform,
      pos: (1120, 672),
      size: (192, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("coin_03"),
      kind: Coin,
      pos: (160, 672),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("coin_04"),
      kind: Coin,
      pos: (224, 672),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("coin_05"),
      kind: Coin,
      pos: (288, 672),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("platform_12"),
      kind: Platform,
      pos: (544, 1760),
      size: (320, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_13"),
      kind: Platform,
      pos: (160, 608),
      size: (320, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_14"),
      kind: Platform,
      pos: (608, 884),
      size: (64, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("trampoline_02"),
      kind: JumpPad,
      pos: (352, 276),
      size: (64, 40),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "bounce_strength": "10",
      },
    ),

    Object (
      id: Some("platform_15"),
      kind: Platform,
      pos: (768, 788),
      size: (128, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_16"),
      kind: Platform,
      pos: (992, 1440),
      size: (320, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_17"),
      kind: Platform,
      pos: (192, 1504),
      size: (256, 64),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_18"),
      kind: Platform,
      pos: (448, 589),
      size: (256, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_19"),
      kind: Platform,
      pos: (320, 1184),
      size: (224, 32),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_20"),
      kind: Platform,
      pos: (1024, 928),
      size: (224, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("coin_06"),
      kind: Coin,
      pos: (480, 32),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("trampoline_03"),
      kind: JumpPad,
      pos: (800, 1492),
      size: (64, 40),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "bounce_strength": "10",
      },
    ),

    Object (
      id: Some("coin_07"),
      kind: Coin,
      pos: (1184, 1248),
      size: (64, 64),
      rot_deg: 0.0,
      collider: Sensor,
      sprite: None,
      layer: Some("play_fx"),
      z: Some(1.0),
      props: {
        "value": "1",
      },
    ),

    Object (
      id: Some("platform_21"),
      kind: Platform,
      pos: (1024, 560),
      size: (96, 32),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_22"),
      kind: Platform,
      pos: (608, 396),
      size: (192, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),

    Object (
      id: Some("platform_23"),
      kind: Platform,
      pos: (1184, 1204),
      size: (64, 24),
      rot_deg: 0.0,
      collider: Rect,
      sprite: None,
      layer: Some("play"),
      z: Some(0.0),
      props: {
        "one_way": "false",
      },
    ),
  ],
)
